black==20.8b1
gym==0.17.3
hyperopt==0.2.5
ipdb==0.13.4
ipython==7.19.0
numpy==1.19.4
pandas==1.1.4
ray @ https://s3-us-west-2.amazonaws.com/ray-wheels/latest/ray-1.1.0.dev0-cp38-cp38-macosx_10_13_x86_64.whl
tabulate==0.8.7
torch==1.7.0
treelib==1.6.1
