torch~=1.7.1
dataclasses~=0.6
ipdb~=0.13.4
matplotlib~=3.3.3
numpy~=1.19.4
pandas~=1.2.0
tqdm~=4.55.1
setuptools~=51.0.0
gym~=0.18.0
omegaconf~=2.0.5
colored~=1.4.2
treelib~=1.6.1
wandb~=0.10.14
hydra-core==1.0.4